attrdict==2.0.0
attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
cytoolz==0.9.0
eth-abi==1.0.0b0
eth-account==0.1.0a2
eth-keyfile==0.5.0
eth-keys==0.2.0b1
eth-rlp==0.1.0a2
eth-utils==1.0.0b1
flake8==3.5.0
Flask==0.12.2
Flask-Cors==3.0.3
Flask-Session==0.3.1
git+git://github.com/jstoxrocky/0x2048-game.git
hexbytes==0.1.0b0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
lru-dict==1.1.6
MarkupSafe==1.0
mccabe==0.6.1
pluggy==0.6.0
py==1.5.2
pycodestyle==2.3.1
pycryptodome==3.4.11
pyflakes==1.6.0
pysha3==1.0.2
pytest==3.4.0
pytest-mock==1.6.3
redis==2.10.6
requests==2.18.4
rlp==0.6.0
six==1.11.0
toolz==0.9.0
urllib3==1.22
web3==4.0.0b7
Werkzeug==0.14.1
